body{
    background: url("http://cleancanvas.herokuapp.com/img/backgrounds/color-splash.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h1{
    font-family: Raleway;
    font-size:13px;
    font-weight:800;
    width: 30%;
    text-transform: uppercase;
    margin-left:135px;
    margin-right: auto;
    padding-top: 10px;
}
.popupContainer{
    width: 300px;
    min-height: 300px;
    max-height: 500px;
}

label{
    display: table;
    margin-left:auto;
    margin-right: auto;
    font-family: Raleway;
    font-size:13px;
    font-weight:800;
    width: 30%;
    text-transform: uppercase;
    margin-left:65px;
    margin-right: auto;
}

label:nth-of-type(1){
    padding-top: 20px;
}
input{
    display: table;
    margin-left:auto;
    margin-right: auto;
}
input:nth-of-type(2) {
    margin-bottom: 10px;
}
